<md-dialog ng-cloak>
    <form name="myForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Contact Details</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="./images/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First Name: </label>
                    <span>{{person.firstName}}</span>
                </md-input-container>
                <!--<md-input-container flex>
                    <label>Last Name</label>
                    <input type="text" name="newLastName" ng-model="contactInfo.newLastName" required>
                    <div ng-messages="person.lastName.$error" ng-if="myForm.$dirty"></div>
                </md-input-container>-->
            </div>
            <!--<div layout layout-sm="column">
                <md-input-container flex>
                    <label>Company</label>
                    <input type="text" name="newCompany" ng-model="contactInfo.newCompany">
                </md-input-container>
                <md-input-container flex>
                    <label>Phone Number</label>
                    <input type="number" name="newPhone" ng-model="contactInfo.newPhone">
                    <div ng-messages="person.phone.$error" ng-if="myForm.$dirty"></div>
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input type="email" name="newEmail" ng-model="contactInfo.newEmail">
                    <div ng-messages="person.email.$error" ng-if="myForm.$dirty"></div>
                </md-input-container>
            </div>-->

            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()">Got it!</md-button>
            </md-dialog-actions>

        </md-dialog-content>
    </form>
</md-dialog>
