<md-dialog ng-cloak>
    <form name="myForm" ng-submit="updateContact(person)">
        <!--header-->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Contact</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="./images/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!--fields-->
        <md-dialog-content>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First Name</label>
                    <input type="text" name="newFirstName" ng-model="person.firstName" required>
                    <div ng-messages="person.firstName.$error" ng-if="myForm.$dirty"></div>
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input type="text" name="newLastName" ng-model="person.lastName" required>
                    <div ng-messages="person.lastName.$error" ng-if="myForm.$dirty"></div>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Company</label>
                    <input type="text" name="newCompany" ng-model="person.company">
                </md-input-container>
                <md-input-container flex>
                    <label>Phone Number</label>
                    <input type="number" name="newPhone" ng-model="person.phone">
                    <div ng-messages="person.phone.$error" ng-if="myForm.$dirty"></div>
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input type="email" name="newEmail" ng-model="person.email">
                    <div ng-messages="person.email.$error" ng-if="myForm.$dirty"></div>
                </md-input-container>
            </div>

            <!--buttons-->
            <div layout layout-sm="row">
                <md-input-container flex>
                    <input type="submit" value="SAVE" ng-disabled="myForm.$invalid" class="md-primary" aria-label="Save" >
                </md-input-container>
                <md-input-container flex>
                    <input type="button" ng-click="cancel()" value="CANCEL" aria-label="Cancel">
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
